html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

.section-title {
  font-weight: 700;
  color: #ff914d;
}

.card img {
  height: 180px;
  object-fit: cover;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.btn-dark {
  background-color: #ff914d;
  border: none;
}

.btn-dark:hover {
  background-color: #ff7b24;
}

.navbar {
  background-color: #1a1a1a !important;
}


footer {
  background-color: #1a1a1a;
}
#heroSlider img {
  height: 480px;       
  object-fit: cover;  
  margin-top: 0px;     
}
